.form-contanier {

   width: 400px;
   margin: 0 auto;
   border: 1px solid #95a0a7;
   box-sizing: border-box;
   border-radius: 8px;
   display: flex;
   justify-content: center;
   margin-top: 20px;

}

.form-title {
   font-size: 35px;
   color: #2a414f;
   font-weight: 400;
}

.input-group {
   margin-bottom: 20px;
}

.input-group label {
   display: block;
   margin-left: 5px;
}

.input-group input {
   width: 350px;
   height: 55px;
   border: 1px solid #95a0a7;
   box-sizing: border-box;
   border-radius: 5px;
   font-size: 20px;

}

.form-submit {
   width: 350px;
   height: 55px;
   background-color: rgba(255, 153, 0, 0.5);
   border-radius: 5px;
   border: none;
   font-size: 20px;
}

.form-submit:hover {
   background-color: green;
   color: white;
}

.form-link {
   color: #ff9900;
   text-decoration: none;
}

.or-style {
   display: flex;
   justify-content: center;
   align-items: center;
}

.or-style p {
   margin: 20px;
}